body {
    margin: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.pic {
    width: 150px;
    border-radius: 10px;
}

.pic:hover{
    background-color: #fefae0;
    border:#283618 solid 3px;
}

.card {
    width: 400px;
    margin: auto auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    
    background: #dda15e;
    color: #283618;
    border-bottom: 6px solid #606c38;
    animation: mymove 5s infinite;
    position: relative;
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}
