body {
    margin: 20px;
}

.pic{
    width: 150px;
}

.card{
    justify-content: space-around;
    padding: 20px;
    display: flex;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.border{
    border: blue 5px dotted;
}